.coto{
    background-color:yellow
}
.orange{
    background-color: rgb(233, 170, 159);
}
.browen{
    background-color: rgb(255, 166, 0);
}
.red{
    background-color: red;
}
.gray{
    background-color: grey;
}
.purpel{
    background-color: rgb(138, 56, 127);
}
.green{
    background-color: rgb(103, 243, 103);
}
.blue{
    background-color:cyan}
    .gn{
        background-color: greenyellow;
    }
    .rd{
        background-color: tomato;
    }
    .gr{
        background-color: rgb(6, 136, 6);
    }
    .pr{
        background-color: hotpink;
    }
    .p{
        background-color: rgb(119, 45, 172);
    }
    .f{
        background-color: blue;
    }
    .h{
        background-color: darkgreen;
    }
    .u{
        background-color: greenyellow;
    }
    .v{
        background-color: orange;
    }
    .t{
        background-color: rgb(138, 56, 127);
    }
    .ta{
        background-color: blue;
    }
    .s{
        background-color: rgb(3, 44, 3);
    }
.sa{
   background-color: indigo;
}
.r{
  background-color: darkolivegreen;
}
.m{
    background-color: orange;
}